.pane{
    background-color: rgb(255, 255, 255);
    height: 100vh;
    border: solid 1px #000;
}
.pane:hover{
    background-color: rgb(223, 206, 206);
    cursor: pointer;
}


.center{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}